// out: ../main.css

/***************
   imports
***************/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

@import "bootstrap/bootstrap.less";
@import "font-awesome/font-awesome.less";

/***************
   variables
***************/

@brand-primary:                hsl(138, 100%, 33%); // #00AA32
@brand-primary-hover:          lighten(@brand-primary, 2%);
@brand-primary-shadow:         darken(@brand-primary, 10%);
@brand-primary-shadow-hover:   lighten(@brand-primary-shadow, 2%);

@font-stack:                   "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-size-base:               16px;
@headings-font-weight:         700;
@btn-font-weight:              700;

@btn-shadow:                    0px 0.25em 0px 0px;

/***************
   mixins
***************/

/************
   the rest
************/

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: @font-stack;
  font-weight: 300;
  &.homepage {
    display: table;
    height: 100%;
    width: 100%;
    header,
    footer {
      position: absolute;
      left: 0;
      width: 100%;
    }
    main {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

h1 {
  letter-spacing: -2px;
}

.btn {
  border-color: @brand-primary-shadow;
  border-width: 0 1px 4px;
  &:hover {
    background-color: @brand-primary-hover;
    margin-top: 1px;
    border-bottom-width: 3px;
  }
  &:active {
    margin-top: 2px;
    border-bottom-width: 2px;
  }
}


.navbar {
  &-brand {
    font-weight: 700;
    color: @brand-primary;
    &:hover {
      color: @brand-primary-hover;
    }
  }
  &-text {
    color: @gray-light;
  }
  &-brand, 
  &-text {
    font-size: @font-size-large;  
  }
}

footer {
  padding-bottom: 10px;
  bottom: 0;
}

#hero-unit {
  h1 {
    margin-top: 0;
    @media (min-width: @screen-sm-min) {
      font-size: 80px;
      letter-spacing: -5px;
      margin-bottom: 20px;
    }
  }
  p {
    margin-bottom: 20px;
  }
}