<footer>
  <nav role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">
          <a href="/" class="logo">
            <div class="logomark"></div>
            <div class="logotype">
              <span class="name">Yosef Waysman</span>
              <span class="tagline">UX/UI designer & coder</span>
            </div>
          </a> <!-- logo -->
        </div> <!-- .col-xs-12 col-sm-6 col-md-4 -->
        <div class="col-xs-12 col-sm-8 col-md-4">
          <ul class="nav nav-stacked">
            <li class="nav-header">Work case studies</li>
            <li>
              <a href="/projects/plint/">
                <span class="title">
                  Plint
                </span>
                <span class="tagline">
                  Matchmaking for business events
                </span>
              </a>
            </li>
            <li>
              <a href="/projects/open-pension/">
                <span class="title">
                  Open Pension
                </span>
                <span class="tagline">
                  Exposing the Israeli pension market
                </span>
              </a>
            </li>
            <li>
              <a href="/projects/everythingme">
                <span class="title">
                  EverythingMe
                </span>
                <span class="tagline">
                  My most major UX job as of yet
                </span>
              </a>
            </li>
          </ul>  
        </div> <!-- .col-xs-12 col-sm-6 col-md-4 -->
        <div class="col-xs-12 col-sm-offset-4 col-sm-8 col-md-offset-0 col-md-5">
          <ul class="nav nav-stacked">
            <li class="nav-header">Considering hiring me?</li>
            <li>
              <a href="/open-letter/">
                <span class="title">
                  Open Letter to a Potential Employer
                </span>
                <span class="tagline">
                  Everything you need to know when considering me for a position in your company
                </span>
              </a>
            </li>
            <li>
              <a href="/assets/Yosef%20Waysman%20-%20Resume%202015.pdf">
                <span class="title">
                  My Resume (PDF)
                </span>
              </a>
            </li>
            <li>
              <a href="mailto:yosefwaysman@gmail.com" class="contact-me">
                Contact me
              </a>
            </li>          
          </ul>
        </div> <!-- .col-xs-12 col-offset-md-6 col-sm-6 col-md-4 -->
      </div> <!-- row -->
    </div> <!-- container -->
  </nav>
</footer>
    
