<header>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><i id="logomark" class="fa fa-heart"></i><div id="logotype"><span>Yosef</span><span>Waysman</span></div></a>
        <button type="button" class="btn navbar-toggle navbar-btn navcollapsed" data-toggle="collapse" data-target="#menu">
          <span class="sr-only">Toggle navigation</span>
        </button>
      </div>

    </div> <!-- container -->
  </nav>
</header>
