<header>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <div class="logo">
            <div class="logomark"></div>
            <div class="logotype">
              <span class="name">Yosef Waysman</span>
              <span class="tagline">UX/UI designer & coder</span>
            </div>
          </div>
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a id="menu" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu</a>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation" class="dropdown-header nav-header">Work case studies</li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="/projects/plint/">
                  Plint
                </a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="/projects/open-pension/">
                  Open Pension
                </a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="/projects/everythingme/">
                  EverythingMe
                </a>
              </li>
              <li role="presentation" class="dropdown-header nav-header">About me</li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="/open-letter/">
                  Open Letter to a Potential Employer
                </a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="/assets/Yosef%20Waysman%20-%20Resume%202015.pdf">
                  Resume <span class="text-muted">(PDF)</span>
                </a>
              </li>
              <li class="divider"></li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="mailto:yosefwaysman@gmail.com" class="contact-me">
                  Contact me
                </a>
              </li>
            </ul>
          </li>
        </ul>

    </div> <!-- container -->
  </nav>
</header>
