<header>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Yosef Waysman</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">My work</a></li>
          <li><a href="#">About me</a></li>
          <li><button class="btn btn-success navbar-btn btn-sm" onClick="location.href='mailto:yosefwaysman@gmail.com'">Let's talk</button></li>
          
        </ul>
      </div><!-- /.navbar-collapse -->

    </div> <!-- container -->
  </nav>
</header>
