header {
  
  .navbar {
    font-family: @font-family-sans-serif;
    margin-bottom: 0;
    boder: 1px solid @border-color;
    
    .navbar-brand {
      padding: 0.6em @navbar-padding-horizontal;
      
      #logo {
        font-size: 1rem;
        float: left;
        height: auto;
        margin-top: 1px;
        
        #logomark,
        #logotype {
          display: block;
          float: left;
        }

        #logomark {
          text-align: center;
          height: 2.3rem;
          width: 2.3rem;
          background-color: @bg-color;
          margin-right: 15px;
          padding: 0 auto;
          border: 1px solid darken(@bg-color, 20%);
          border-bottom-width: 0.2rem;
          border-radius: 6px;
          vertical-align: middle;
          
          &:before {
            .icn('f004');
            color: red;
            margin: 0.55rem auto 0;
            
          }
          
          &:hover:before {
            
          }
        }

        #logotype {
          line-height: 1.15;
          font-weight: @headings-font-weight;
          color: @gray-darker;

          span {
            display: block;
          }
        }
        
        &:hover {
          
          #logomark {
            
            &:before {
              .icn('f015');
              color: @gray-dark;
            }
          }
        }
      }
    }
    
    .navbar-nav {
      float: right;
      font-size: @navbar-font-size;
      
      > li {
        margin-bottom: 0;
      
        > a {
          padding: 1.45em @navbar-padding-horizontal;
        }
      }
      
      #menu {
        border-left: 1px solid @border-color;
                
        &:before {
          .icn("f0c9");
          margin-right: 0.35rem;
        }
      }
      
      .dropdown-menu {
        border-color: @border-color;
        padding-top: 0;
        border-radius: 0;
                
        li {
          
          > a {
            font-size: @navbar-font-size;
          }

          &.disabled {
            
            > a {
              color: @text-muted;
            }
          }
        }
        
        .dropdown-header {
          padding-top: 20px;
          text-transform: uppercase;
          font-size: @navbar-font-size / @font-size-scale;
        }
        
        .divider {
          margin: 0.5em 0;
          background-color: @border-color; 
        }
        
        > * {
          font-size: inherit;
        }
      }
    }
  }
}
