.icn(@unicode) {
  .fa;
  content: "\@{unicode}";
}

.btn-icn(@unicode; @margin-right:5px) {
  .icn(@unicode);
  margin-right: @margin-right;
}

.vertical-align-children {
  display: flex;
  align-items: center;
}

.img-row(@images) {
  width: 100%;
  .img-wrapper {
    display: flex;
    img {
      width: floor(percentage(1/@images));
      margin: 5px;
    }
  }
}

.aspect-ratio(@width; @height) {
  @ratio: percentage(@height/@width);
  position: relative;
  
  &:before {
    content: "";
    display: block;
    padding-bottom: @ratio;
  }
  
  & img {
    position: absolute;
    top: 0;
    margin: 0 auto;
    max-width: 100%;
  }
}
