.icn(@unicode) {
  content: "\@{unicode}";
  font-family: @icon-font;
  font-size: inherit;
  font-weight: normal;
}

.img-row(@images) {
  width: 100%;
  .img-wrapper {
    display: flex;
    img {
      width: floor(percentage(1/@images));
      margin: 5px;
    }
  }
}

.aspect-ratio(@width, @height) {
  @ratio: percentage(@height/@width);
  padding-bottom: @ratio;
  position: relative;
  height: 0;
  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
