.slick-slider {
  border: 1px solid @list-group-border;
  padding: 0;
  border-radius: 4px;
  
  button {
    color: @slider-button-color;
    border: none;
    
    &:hover,
    &:focus {
      color: darken(@slider-button-color, 15%);
    }
  }
  
  .slider-toolbar {
    .small;
    width: 100%;
    line-height: 1;
    
    button {
      .btn-xs;
    }
    
    > .toolbar-action {
      float: right;
      font-weight: 300;
      background-color: transparent;
      margin: 6px 5px;
      
      &:before {
        .icn("f065");
        margin-right: 5px;
      }
    }
    
    .slick-dots {    
      .list-unstyled;
      .list-inline;
      margin: 10px 5px;
      display: inline-block !important;

      > li {
        margin: 0;
        padding: 0;

        > button {
          border: none;
          background: none;
          line-height: 1;

          &:before {
            .fa;
            color: @slider-dot-color;
            content: "\f111";
          }
        }
        
        &:hover,
        &:focus,
        &.slick-active {
          > button {
            &:before {
              color: darken(@slider-dot-color,25%);
            }
          }
        }
      }
      
      &.slick-active {
          
          > button {
            background-color: darken(@slider-button-color, 25%);
          }
        }
      }
    }   
  
  .slick-slide {
    
    .slide-img {
      .aspect-ratio(16,9);
      overflow: hidden;
      display: block;
    }
    
    .slide-caption {
      .thumbnail .caption;
      font-weight: 300;
      font-size: @font-size-small;
      color: @gray-light;
      position: relative;
      
      .full-screen {
        position: relative;
        &:before {
          content: "\f065 ";
          font-family: "FontAwesome";
          margin-right: 5px
        }
      }
    }
  }
  
  .slick-prev,
  .slick-next {
    .btn;
    .btn-default;
    .btn-sm;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -21px;
    padding: 10px 6px;
    
    &:before,
    &:after {
      // font-size: 2 * @fa-font-size-base;
      line-height: 1;
      color:@slider-button-color;
    }
    
    &:hover,
    &:focus {
      
    }
    
    &.slick-disabled:before {
      opacity: 0.1;
    }
  }

  .slick-prev {
    left: -12px;
    
    &:before {
      .icn("f053");
    }
  }

  .slick-next {
    right: -12px;
    
    &:after {
      .icn("f054");
    }
  }
}

.slick-lightbox {
  z-index: inherit;
  background-color: hsla(0, 0%, 0%, 0.8) !important;
  
  .slick-lightbox-inner {
    
    .slick-lightbox-slick {
      position: static;
      z-index: @zindex-modal;
      border: none;
      
      .slider-toolbar {
        z-index: @zindex-navbar-fixed;
        background-color: #222;
        border-radius: 0;
        .opacity(.9);

        .slick-dots {

          
        }

        .slick-lightbox-close {
          float: right;
          font-size: inherit;
          position: relative;
          height: auto;
          width: auto;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          &:before {
            .icn('f00d');
          }
        }
      }

      .slick-lightbox-slick-item {
        max-height: none;
        overflow: auto;

        .slick-lightbox-slick-item-inner {
          max-height: none;
          padding: 20px;
            
          img.slick-lightbox-slick-img {
            max-height: none !important;
          }
        }
      }
      
      .slick-prev,
      .slick-next {
        .btn;
        background-color: #222;
        border-color: #000;
      }

      .slick-prev {
        left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      .slick-next {
        right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }  
    }
  }
}
