.slick-slider {
  border: 1px solid @list-group-border;
  background-color: white;
  padding: 0;
  border-radius: 4px;
  
  button {
    color: @slider-button-color;
    border: none;
    
    &:hover,
    &:focus {
      color: darken(@slider-button-color, 15%);
    }
  }
  
  .slider-toolbar {
    width: 100%;
    vertical-align: middle;
    padding: 10px;
    font-size: @font-size-small;
    line-height: 1;
    
    > .toolbar-action {
      float: right;
      line-height: 1;
      font-weight: 300;
      background-color: transparent;
      
      &:before {
        .icn("f065");
        margin-right: 5px;
      }
    }
    
    .slick-dots {
      .list-unstyled;
      .list-inline;
      margin: 0;
      display: inline-block !important;
      
      > li {
        margin: 0 10px 0 0;
        padding: 0;
        
        > button {
          width: 10px;
          height: 10px;
          padding: 0;
          border-radius: 50%;
          background-color: @slider-button-color;
          display: block;
          
        }
        
        &.slick-active {
          
          > button {
            background-color: darken(@slider-button-color, 25%);
          }
        }
      }
    }
  }
  
  .slick-slide {
    
    .slide-img {
      border-bottom: 1px solid @list-group-border;
      height: 400px;
      overflow: hidden;
    }
    
    .slide-caption {
      .thumbnail .caption;
      font-weight: 300;
      font-size: @font-size-small;
      color: @gray-light;
      position: relative;
      
      .full-screen {
        position: relative;
        &:before {
          content: "\f065 ";
          font-family: "FontAwesome";
          margin-right: 5px
        }
      }
    }
  }
  
  .slick-prev,
  .slick-next {
    .btn;
    .btn-default;
    .btn-sm;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -21px;
    padding: 10px 6px;
    
    &:before,
    &:after {
      // font-size: 2 * @fa-font-size-base;
      line-height: 1;
      color:@slider-button-color;
    }
    
    &:hover,
    &:focus {
      
    }
    
    &.slick-disabled:before {
      opacity: 0.1;
    }
  }

  .slick-prev {
    left: -12px;
    
    &:before {
      .icn("f053");
    }
  }

  .slick-next {
    right: -12px;
    
    &:after {
      .icn("f054");
    }
  }
}
