html {
  font-size: @font-size-base;

  @media (min-width: @screen-md-min) {
    font-size: 1.1666666667 * @font-size-base;
  } 
}

body {
  font-family: @font-family-serif;
  font-size: 1em;
  font-weight: @text-font-weight;
  letter-spacing: -0.5px;
  text-rendering: optimizelegibility;
  
  @media (min-width: @screen-md-min) {
    text-align: justify;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "liga", "kern";
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}

p {
  margin-bottom: 0.5 * @line-height-computed;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  
  small,
  .small {
    margin-top: 10px;
    font-family: @font-family-serif;
    display: block;
    text-align: inherit;
    line-height: 1.2
  }
  
  strong {
    font-weight: 500;
  }
}

h2 {
  margin-top: 2 * @line-height-computed;
  margin-bottom: 1 * @line-height-computed;
}

h3 {
  margin-top: 1.5 * @line-height-computed;
  margin-bottom: 0.5 * @line-height-computed;
}

.lead {
  font-family: @font-family-serif;
  font-weight: @lead-font-weight;
  font-size: 1.15rem;
  line-height: @line-height-base * 1;
  margin-bottom: @line-height-computed;
  color: @lead-text-color;
}

hr {
  border-color: @border-color;
  border-width: 1px;
  margin-top: 2 * @line-height-computed;
  margin-bottom: 2 * @line-height-computed;
}

em {
  font-weight: inherit;
}

strong {
  color: @strong-text-color;
  font-weight: @strong-font-weight;
}

figcaption {
  font-family: @font-family-sans-serif;
  color: @text-muted;
  font-style: italic;
}
