h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

h2 {
  margin-top: 3 * @line-height-computed;
}

h3 {
  margin-top: 2 * @line-height-computed;
}



.lead {
  margin-bottom: 2 * @line-height-computed;
  line-height: 1.7;
  font-size: @font-size-large;
  letter-spacing: -0.5px;
}

strong {
  font-weight: 600;
}
