@gray-base:                    #000;
@gray-darker:                  lighten(@gray-base, 13.5%); // #222
@gray-dark:                    lighten(@gray-base, 20%);   // #333
@gray:                         lighten(@gray-base, 33.5%); // #555
@gray-light:                   lighten(@gray-base, 46.7%); // #777
@gray-lightish:                lighten(@gray-base, 60%); // #999
@gray-lighter:                 lighten(@gray-base, 93.5%); // #eee

@text-color:                   @gray-dark;
@headings-color:               @gray-dark;
@headings-small-color:         @gray-light;
@text-muted:                   lighten(@gray-base, 65%); // #a6a6a6a
@border-color:                 lighten(@gray-base, 87%); // #ddd
@bg-color:                     lighten(@gray-base, 99%); // #fbfbfb

@brand-primary:                darken(#428bca, 6.5%); // #337ab7
@brand-success:                #5cb85c;
@brand-info:                   #5bc0de;
@brand-warning:                #f0ad4e;
@brand-danger:                 #d9534f;

@brand-primary-hover:          lighten(@brand-primary, 2%);
@brand-primary-shadow:         darken(@brand-primary, 10%);
@brand-primary-shadow-hover:   lighten(@brand-primary-shadow, 2%);

@font-family-base:             "PT Serif", Georgia, serif;
@font-size-base:               18px;
@font-size-scale:              4/3;
@font-size-large:              round(@font-size-base * @font-size-scale);
@font-size-small:              round(@font-size-base / @font-size-scale);

@headings-font-family:         "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-size-h1:                 round(@font-size-base * pow(@font-size-scale, 5));
@font-size-h2:                 round(@font-size-base * pow(@font-size-scale, 3));
@font-size-h3:                 round(@font-size-base * pow(@font-size-scale, 2));
@font-size-h4:                 @font-size-large;
@font-size-h5:                 @font-size-base;
@font-size-h6:                 @font-size-small;

@headings-font-weight:         600;
@btn-font-weight:              300;

@line-height-base:             1.7;
@line-height-computed:         floor((@font-size-base * @line-height-base));

@icon-font:                    "FontAwesome";

@btn-shadow:                   0px 0.25em 0px 0px;

@navbar-height:                50px;

@img-shadow:                   0px 3px 5px 3px hsla(0, 0%, 0%, 0.125);

@slider-button-color:          darken(@gray-lighter, 10%);
@slider-button-height:         40px;
@slider-button-width:          20px;
@slider-dot-color:             darken(@gray-lighter, 10%);
