@gray-base:                    #000;
@gray-darker:                  lighten(@gray-base, 13.5%); // #222
@gray-dark:                    lighten(@gray-base, 20%);   // #333
@gray:                         lighten(@gray-base, 33.5%); // #555
@gray-light:                   lighten(@gray-base, 46.7%); // #777
@gray-lighter:                 lighten(@gray-base, 93.5%); // #eee

@text-color:                   @gray-dark;
@headings-color:               @gray-dark;
@headings-small-color:         @gray-light;
@text-muted:                   lighten(@gray-base, 65%); // #a6a6a6a
@border-color:                 lighten(@gray-base, 87%); // #ddd
@bg-color:                     lighten(@gray-base, 99%); // #fbfbfb

@brand-primary:                darken(#428bca, 6.5%); // #337ab7
@brand-success:                #5cb85c;
@brand-info:                   #5bc0de;
@brand-warning:                #f0ad4e;
@brand-danger:                 #d9534f;

@brand-primary-hover:          lighten(@brand-primary, 2%);
@brand-primary-shadow:         darken(@brand-primary, 10%);
@brand-primary-shadow-hover:   lighten(@brand-primary-shadow, 2%);

@font-family-base:                   "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-size-base:               18px;
@font-size-large:              ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:              ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1:                 floor((@font-size-base * 4)); // ~36px
@font-size-h2:                 floor((@font-size-base * 2.15)); // ~30px
@font-size-h3:                 ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:                 ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:                 @font-size-base;
@font-size-h6:                 ceil((@font-size-base * 0.85)); // ~12px

@headings-font-weight:         600;
@btn-font-weight:              700;

@line-height-base:             1.8;
@line-height-computed:         floor((@font-size-base * @line-height-base));

@btn-shadow:                   0px 0.25em 0px 0px;

@navbar-height:                50px;
