---
layout: default
---

{% if page.cover-image %}

  <div id="cover">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <img src="{{ page.cover-image }}">
        </div>
      </div>
    </div>
  </div>

{% endif %}
<div class="container">
  <div class="page-header">
    <h1> {{ page.title }} </h1>
    <input type="checkbox" name="display-mode" data-size="small" data-on-color="default" data-off-text="&#xf1dd" data-on-text="&#xf03e">
  </div>
  <div class="row">
    <main id="main_content" class="col-md-8">
      {{ content }}
    </main><!-- /.col-md-6 -->
    <aside class="col-md-offset-1 col-md-3">
      <dl id="project-metadata">
        <dt>
          Responsibilities
        </dt>
        <dd>
          {{ page.tags | array_to_sentence_string }}
        </dd>
        <dt>
          Type
        </dt>
        <dd>
          {{ page.type }}
        </dd>
        <dt>
          Timeline
        </dt>
        <dd>
          {{ page.time }}
        </dd>
        <dt>
          Contents
        </dt>
        <dd>
          <nav id="toc">
            <!-- toc -->
          </nav>
        </dd>
      </dl>
    </aside>
    
  </div><!-- /.row -->
</div><!-- /.container -->
<script src="/js/toc.js"></script>
<script src="/js/bootstrap-switch.js"></script>
