---
layout: default
---


<div id="page-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1> 
          {{ page.title }}
          <small>
            {{ page.subtitle }}
          </small>
        </h1>
        <div id="project-metadata">
          <span id="tags">
            <i class="fa fa-tags"></i> {{ page.tags | array_to_sentence_string }}
          </span>
          <span id="timeline">
            <i class="fa fa-calendar"></i> {{ page.time }}
          </span>
        </div>
        <img src="{{ page.cover-image }}">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <main id="main_content" class="col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
      {{ content }}
    </main><!-- /.col-md-6 -->    
  </div><!-- /.row -->
</div><!-- /.container -->
<script src="/js/toc.js"></script>
<script src="/js/bootstrap-switch.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/slick-lightbox.js"></script>
