---
layout: default
---

{% if page.cover-image %}
<div id="cover-img">
  <div class="container">
    <div id="img-container">
      <img src="{{ page.cover-image }}">
    </div>
  </div>
</div>
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
      <div class="page-header">
    <h1> 
      {{ page.title }}
      <small>
        {{ page.subtitle }}
      </small>
    </h1>
    {% if page.tags or page.time or page.link%}
    <div id="project-metadata">
      <dl>
        {% if page.tags %}
        <div id="tags">
          <dt>
            <span class="sr-only">Tags</span>
          </dt>
          <dd>
            <ul class="list-inline list-unstyled">
              {% for tag in page.tags  %}
                <li>{{ tag }}</li>
              {% endfor %}
            </ul>
          </dd>
        </div>
        {% endif %}
        {% if page.time %}
        <div id="timeline">
          <dt>
            <span class="sr-only">Timeline</span>
          </dt>
          <dd>
            {{ page.time }}
          </dd>
        </div>
        {% endif %}
        {% if page.link %}
        <div id="link">
          <dt id="link">
          <span class="sr-only">Link</span>
          </dt>
          <dd>
            <a href="http://{{ page.link }}">{{ page.link }}</a>
          </dd>
        </div>
        {% endif %}
      </dl>
    </div> <!-- #project-metadata -->
    {% endif %}
  </div> <!-- .page-header -->
    </div>
  </div>
  <div class="row">
    
    <aside class="hidden hidden-xs hidden-sm col-md-2">
      <nav id="toc"></nav>
    </aside>
    
    <main class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
      {% if page.message %}
        <div class="alert alert-warning" role="alert">{{ page.message }}</div>
      {% endif %}
      
      {% if page.excerpt %}
      <p id="abstract" class="lead">
        {{ page.excerpt }}
      </p>
      {% endif %}
    
      <div id="full-story">
        {{ content }}
      </div>
    </main>
    
  </div>
</div><!-- /.container -->
<!--
<div id="read-next" class="container-fluid">
  <div class="container">
    <h4>Next case study</h4>
    
  </div>
</div>
-->
<script src="/vendor/toc.js"></script>
<script src="/vendor/chartist/dist/chartist.min.js"></script>
<script src="/vendor/slick.js/slick/slick.min.js"></script>
<script src="/vendor/slick-lightbox/dist/slick-lightbox.min.js"></script>

