---
layout: default
---

{% if page.cover-image %}
<div id="cover-img">
  <div class="container">
    <div id="img-container">
      <img src="{{ page.cover-image }}">
    </div>
  </div>
</div>
{% endif %}

<div class="container">
  <div class="page-header">
    <h1> 
      {{ page.title }}
      <small>
        {{ page.subtitle }}
      </small>
    </h1>
    {% if page.tags or page.time %}
    <div id="project-metadata">
      <div>
        {% if page.tags %}
        <dl id="tags">
          <dt>
            <span class="sr-only">Tags</span>
          </dt>
          <dd>
            {{ page.tags | join: ' / ' }}
          </dd>
        </dl>
        {% endif %}
        {% if page.time %}
        <dl id="timeline">
          <dt>
            <span class="sr-only">Timeline</span>
          </dt>
          <dd>
            {{ page.time }}
          </dd>
        </dl>
       {% endif %}
      </div>
    </div> <!-- #project-metadata -->
    {% endif %}
  </div> <!-- .page-header -->
  
  <div class="row">
    
    <aside class="hidden-xs hidden-sm col-md-3">
      <nav id="toc"></nav>
    </aside>
    
    <main class="col-xs-12 col-md-9">
      {% if page.message %}
        <div class="alert alert-warning" role="alert">{{ page.message }}</div>
      {% endif %}
      
      {% if page.excerpt %}
      <p id="abstract" class="lead">
        {{ page.excerpt }}
      </p>
      {% endif %}
    
      <div id="full-story">
        {{ content}}
      </div>
    </main>
    
  </div>
</div><!-- /.container -->
<div id="read-next" class="container-fluid">
  <div class="container">
    <h4>Next case study</h4>
    
  </div>
</div>
<script src="/scripts/toc.js"></script>
<script src="/scripts/bootstrap-switch.js"></script>
<script src="/scripts/slick.min.js"></script>
<script src="/scripts/slick-lightbox.js"></script>

