body.homepage {
  
  section {
    min-height: 30vh;
    border-bottom: 1px solid @border-color;
    .vertical-align-children;
    padding-bottom: 50px;
    
    
    @media (min-width: @screen-sm-min) {
      text-align: center;
    }
    
  }
  
  h2 {
    font-size: @font-size-h3;
    font-weight: @bold;
    margin-bottom: 10px;
    
    ~ a {
      &:after {
        .icn("f178");
      }
    }
  }

  
  #hero {
    background-color: @gray-darker;
    padding: 2 * @line-height-computed 0;
    min-height: 50vh;
    
    @media (min-width: @screen-sm-min) {
      padding: 0;
      min-height: 75vh;
    }
    
    p {
      font-family: @font-family-sans-serif;
      font-size: pow(@font-size-scale,5) + @font-unit;;
      font-weight: @bold;
      line-height: 1.1;
      color: @gray;
      margin-bottom: 2 * @line-height-computed;

      i.love{
        color: @brand-red;
      }
      
      strong {
        color: white;
        font-weight: inherit;
      }
    }
    
    .contact-me {
      .btn-inverse;
    }
  }
  
  #job-looking {
    background-color: white;
  }
  
  #my-work {
    background-color: @bg-color;

    h2 {
      margin-bottom: 1.5 * @line-height-computed;
    }
    
    .thumbnail {
      cursor: pointer;
      padding: 0;
      box-shadow: @img-shadow;
      border: 1px solid @border-color;
      border-radius: 0px;
      
      &:hover {
        
        .project-name,
        .project-desc {
          text-decoration: none;
        }
      }
      
      .project-image {
        .aspect-ratio(4,3);
        border-bottom: 1px solid @border-color;
      }
      
      .caption {
        padding: 0.25 * @line-height-computed 15px 0.75 * @line-height-computed;
        text-align: left;
        
        span {
          display: block;
          
          &.project-name {
            font-family: @font-family-sans-serif;
            font-weight: @semibold;
            color: @gray-darker;
          }
          
          &.project-desc {
            font-family: @font-family-serif;
            font-size: @font-size-small; 
            color: @gray-dark;
            line-height: 1.5;
          }
        }
      }
    }
    
    #coming-soon {

      span {
        width: 100%;
        font-family: @font-family-sans-serif;
        color: @gray-light;
        text-align: center;
        padding: 20px;
        border: 1px solid @border-color;
        border-radius: 4px;
        font-weight: @light;
        .center-block;
        
        @media (min-width: @screen-sm-min) {
          width: 50%;
        }
      }
    }
    
  }
  
  #somewhat-nice {
    background-color: @brand-silver;
  }
  
  #somewhat-nice {
    .hidden; 
  }

}

