.font-scale-level(@expo) {
  font-size: pow(@font-size-scale, @expo) + @font-unit;
}

.icn(@unicode) {
  .fa;
  content: "\@{unicode}";
}

.btn-icn(@unicode; @margin-right:5px) {
  .icn(@unicode);
  margin-right: @margin-right;
}

.vertical-align-children {
  display: flex;
  align-items: center;
}

.img-row(@images) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  img {
    width: percentage(1/(@images+1/pow(@images,@images)));
    height: auto;
    flex-shrink: 0;

  }
}

.aspect-ratio(@width; @height) {
  @ratio: percentage(@height/@width);
  position: relative;
  overflow: hidden;
  
  &:before {
    content: "";
    display: block;
    padding-bottom: @ratio;
  }
  
  & img {
    max-width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}
