#cover-img {
  text-align: center;
  padding-top: @line-height-computed;
  padding-bottom: @line-height-computed;
  margin-bottom: 1 * @line-height-computed;
  border-bottom: 1px solid @border-color;
  background-color: @bg-color;
  overflow: hidden;
  padding-bottom: 0;
  
  #img-container {
    .aspect-ratio(16,10);
    margin-top: 1 * @line-height-computed;
    box-shadow: @img-shadow;
    border-radius: 6px 6px 0 0;
    
    img {
      
    }
  }
}

main {

  .alert {
    margin-top: 1.5 * @line-height-computed;
    font-family: @font-family-sans-serif;
    text-align: left;
    font-size: 1rem;
  }

  #abstract {

    > p {
      margin-bottom: 0;
    }

    hr {
      width: 15%;
    }
  }

  #full-story {
    margin-bottom: 3 * @line-height-computed;

    > :first-child {
      margin-top: 0; 
    }

    strong {
      color: @strong-text-color;
    }

  }
}

aside {
  #project-metadata {
    .hidden;

    span {
      margin: 0 10px;
      font-weight: @light;
      font-family: @headings-font-family;
      color: @gray-light;

      i {
        color: @text-muted; 
        margin-right: 5px;
      }
    }
  }
}

#read-next {
  border-top: 1px solid @border-color;
  background-color: @bg-color;
  height: 10 * @line-height-computed;
}

.img-2-row {
  .img-row(2);
}

.img-3-row {
  .img-row(3);
}

.img-6-row {
  .img-row(6);
}

figure img:only-of-type {
  margin: 0 auto;
}

