html {
  height: 100%;
  width: 100%;
}

body {

}

.container {
  
  @media (max-width: @screen-xs-max) {
    width: 100%; 
  }
}

.container-fluid {
  width: 100%;
}

a {
  color: @gray-darker;
  text-decoration: underline;
  
  &:hover,
  &:focus,
  &:active {
    color: @link-hover-color;
  }
}

a[href^="http"] {
   &:after {
     .icn('f08e');
     margin-left: 5px;
     font-size: 0.65em;
     opacity: 0.85;
     vertical-align: baselinel;
   }
}

ol,
ul {
  
  li {
    margin-bottom: 0.25 * @line-height-computed;
  }
}

img {
  .img-responsive;
}

figure {
  width: auto;
  margin: 1 * @line-height-computed 0;
    
  figcaption {
    margin-top: 10px;
    display: block;
    width: 100%;
    font-size: 16px;
    text-align: center;
  }
}

.contact-me {
  
  &:before {
    .icn('f003');
    margin-right: 0.1em;
  }
}
